{% load static %}
{% include 'base2.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="section section-a">
        <div class="container">
            <div id="alert-box"></div>
            <form id="a-form" class="form-group mt-5 text-center" method="post" action="{% url 'get_address' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div id="results"></div>
                <button class="btn btn-lg btn-outline-secondary" type="submit">Submit</button>
            </form>
            <div id="talk" class="card mt-5 text-center">
            </div>
        </div>

        <div class="container">
            <form id="b-form" class="form-group mt-5 text-center" method="post" action="{% url 'store' %}">
                {% csrf_token %}
                {{ form.field.as_hidden }}
                <div id="results2"></div>
                <button class="btn btn-lg btn-outline-secondary" type="submit">Save</button>
            </form>
            <div class="mt-5 text-center">
                <button class="btn btn-lg btn-outline-secondary " type="button" id="s-button">List</button>
                <ul id="talk2"></ul>
            </div>
        </div>
    </section>

{% endblock content %}

<footer>
    <p>Author: Bawo Mgemane<br>
        <a href="mailto:bawo@mahlubandile.co.za">bawo@mahlubandile.co.za</a></p>
</footer>

{% block javascript %}
    <script>
        $('#a-form').on('submit', function (event) {
            event.preventDefault();
            create_post();
        });
        $('#b-form').on('submit', function (event) {
            event.preventDefault();
            save_post();
        });
        $('#s-button').click(function (event) {
            event.preventDefault();
            get_post();
        })


        function create_post() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                url: "{% url 'get_address' %}", // the endpoint
                type: "POST", // http method
                data: {address: $('#id_address').val()}, // data sent with the post request
                success: function (json) {
                    {#$('#id_address').val(''); // remove the value from the input#}
                    $("#talk").prepend("<div class='card-body'><h5 class='card-title'>" + json.addr + "</h5><h6 class='card-subtitle mb-2 text-muted'>On " + json.date + "</h6><h3 class='card-text'>" + json.feels
                        + "&#8451;</h3></div>"
                    )
                    ;
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='home/' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };

        function save_post() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                url: "{% url 'store' %}", // the endpoint
                type: "POST", // http method
                data: {
                    address: $('#id_address').val(),

                }, // data sent with the post request
                success: function (json) {
                    $('#id_address').val(''); // remove the value from the input
                    $('#results2').html("<div class='alert alert-success'>Success " +
                        " <a href='#' class='close'>&times;</a></div>");
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results2').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };

        function get_post() {
            $.ajax({
                url: "{% url 'get_data' %}",
                type: "GET",
                success: function (json) {
                    $('#talk2').prepend('<p>' + json + '</p>');
                },
                error: function () {
                    alert("error");
                }
            });
        };
    </script>
{% endblock javascript %}