{% load static %}
{% include 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5 text-center">

            <div class="col-8 mt-5">
                <div id="alert-box"></div>
                <form id="a-form" class="form-group mt-5 text-center" method="post" action="{% url 'get_address' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div id="results"></div>
                    <button class="btn btn-lg btn-outline-secondary" type="submit">Submit</button>
                </form>
            </div>

            <ul id="talk"></ul>
            <div class="col-8 mt-5">
                <form id="b-form" class="form-group mt-5 text-center" method="post" action="{% url 'store' %}">
                    {% csrf_token %}
                    {{ form.field.as_hidden }}
                    <div id="results2"></div>
                    <button class="btn btn-lg btn-outline-secondary" type="submit">Save</button>
                </form>
            </div>

            <div class="col-8 mt-5 text-center">
                <a class="btn btn-lg btn-outline-secondary" type="submit" id="s-button">List</a>
                <ul id="talk2"></ul>
            </div>

        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        $('#a-form').on('submit', function (event) {
            event.preventDefault();
            create_post();
        });
        $('#b-form').on('submit', function (event) {
            event.preventDefault();
            save_post();
        });
        $('#s-button').click(function (event) {
            event.preventDefault();
            get_post();
        })


        function create_post() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                url: "{% url 'get_address' %}", // the endpoint
                type: "POST", // http method
                data: {address: $('#id_address').val()}, // data sent with the post request
                success: function (json) {
                    {#$('#id_address').val(''); // remove the value from the input#}
                    $("#talk").prepend("<p><strong>" + json.date + "</strong> - <em> Feels Like " + json.feels + "&#8451;</p><br>"
                    )
                    ;
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };


        function save_post() {
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            $.ajax({
                url: "{% url 'store' %}", // the endpoint
                type: "POST", // http method
                data: {
                    address: $('#id_address').val(),

                }, // data sent with the post request
                success: function (json) {
                    $('#id_address').val(''); // remove the value from the input
                    $('#results2').html("<div class='alert-box alert radius' data-alert>Success: " +
                        " <a href='#' class='close'>&times;</a></div>");
                },

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results2').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                }
            });
        };

        function get_post() {
            $.ajax({
                url: "{% url 'get_data' %}",
                type: "GET",
                success: function (json) {
                    $('#talk2').prepend('<p>' + json + '</>');
                },
                error: function () {
                    alert("error");
                }
            });
        };
    </script>
{% endblock javascript %}