{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trans Weather</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header class="v-header container">
    <div class="fullscreen-video-wrap">
        <video src="{% static 'img/weather_vid.mov' %}" autoplay="true" loop="true"></video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
        <h3>Welcome To</h3>
        <h1>Transaction Weather</h1>
        <p>Enter an address below and we will show you your weather forcast for the day</p>
        {#        <a href="#" class="btn">Read More</a>#}
    </div>
</header>
{% block content %}

{% endblock content %}
{#<section class="section section-a">#}
{#    <div class="container">#}
{#        <h1>Section A</h1>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cupiditate distinctio#}
{#            doloribus ducimus enim exercitationem harum, molestiae molestias necessitatibus quo repellat repudiandae#}
{#            rerum sit voluptatum? Eveniet ex expedita explicabo fugit iure minus possimus suscipit ullam. Ad architecto#}
{#            asperiores corporis dolore eligendi iure laboriosam laborum quo rem voluptatibus! Molestias, nostrum.</p>#}
{#    </div>#}
{#</section>#}
{##}
{#<section class="section section-b">#}
{#    <div class="container">#}
{#        <h1>Section B</h1>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequuntur cupiditate distinctio#}
{#            doloribus ducimus enim exercitationem harum, molestiae molestias necessitatibus quo repellat repudiandae#}
{#            rerum sit voluptatum? Eveniet ex expedita explicabo fugit iure minus possimus suscipit ullam. Ad architecto#}
{#            asperiores corporis dolore eligendi iure laboriosam laborum quo rem voluptatibus! Molestias, nostrum.</p>#}
{#    </div>#}
{#</section>#}

{% block javascript %}

{% endblock javascript %}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>